\{% extends 'base.html' %}
{% load static %}
<!-- END | Header -->
{% block content %}
<div class="slider movie-items">
    <div class="container">
        <div class="row">
            <!-- Slider Container with Left and Right Buttons -->
            <div class="slider-container">
                <div class="slick-multiItemSlider">
                    {% for movie in page_obj %}
                    <div class="movie-item">
                        <div class="mv-img">
                            <a href="#"><img src="{{ movie.image }}" alt="{{ movie.title }}" width="285" height="437"></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="movie-items">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8">
                <div class="title-hd">
                    <h2>In Theater</h2>
                    <a href="{% url 'movie_list' %}" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <div class="tab-content">
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">
                                    {% for movie in page_obj %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <a href="#"><img src="{{ movie.image }}" alt="{{ movie.title }}" width="185" height="284"></a>
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="{% url 'movie-detail' title=movie.title|slugify id=movie.id %}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ movie.title }}</a></h6>
                                                <p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    {% for movie in page_obj %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <a href="#"><img src="{{ movie.image }}" alt="{{ movie.title }}" width="185" height="284"></a>
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ movie.title }}</a></h6>
                                                <p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    {% for movie in page_obj %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <a href="#"><img src="{{ movie.image }}" alt="{{ movie.title }}" width="185" height="284"></a>
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ movie.title }}</a></h6>
                                                <p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="tab4" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    {% for movie in additional_movies %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <a href="#"><img src="{{ movie.image }}" alt="{{ movie.title }}" width="185" height="284"></a>
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#">{{ movie.title }}</a></h6>
                                                <p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
