{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>{{ request.user.username }}’s Rated Movies</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Rated Movies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <img src="
                            {% if request.user.profile.avatar %}
                                {{ request.user.profile.avatar.url }}
                            {% else %}
                                {% static 'images/uploads/user-img.png' %}
                            {% endif %}"
                             alt="Current Avatar" class="current-avatar circular-avatar">
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li><a href="{% url 'user_profile' %}">Profile</a></li>
                            <li><a href="{% url 'user_favorite_grid' %}">Favorite movies</a></li>
                            <li class="active"><a href="{% url 'user_rate' %}">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a href="{% url 'users:logout' %}">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 col-xs-12">
                <div id="reviews" class="tab">
                    <h4>Your Reviews</h4>
                    {% if rated_movies %}
                        {% for rating in rated_movies %}
                        <div class="user-review">
                            <div>
                                <a href="{% url 'movie-detail' title=rating.movie.title id=rating.movie.id %}">
                                    <img src="{{ rating.movie.image }}" alt="{{ rating.movie.title }}"
                                         style="width:150px; height:auto; margin-right:10px;">
                                </a>
                            </div>


                            <p><strong>Rating:</strong> {{ rating.user_rate }}/10</p>
                            <p><strong>Review:</strong> {{ rating.review|default:"No review provided." }}</p>
                            <p><small><strong>Rated on:</strong> {{ rating.time_create|date:"d M Y H:i" }}</small></p>
                        </div>
                        <hr>
                        {% endfor %}
                    {% else %}
                        <p>You haven't rated any movies yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.circular-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user-review h5 a {
    text-decoration: none;
    color: #333;
}

.user-review hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}
</style>

{% endblock %}
