<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<!-- END | Header -->
{% block content %}

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>{{ user.username }}’s Profile</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li><span class="ion-ios-arrow-right"></span>Favorite movies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <img src="
                                
                                {% if request.user.profile.avatar %}{{ request.user.profile.avatar.url }}{% else %}{% static 'images/uploads/user-img.png' %}{% endif %}"
                             alt="Current Avatar" class="current-avatar circular-avatar">

                        <form method="post" action="{% url 'change_avatar' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                        </form>
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li><a href={% url 'user_profile' %}>Profile</a></li>
                            <li class="active"><a href={% url 'user_favorite_grid' %}>Favorite movies</a></li>
                            <li><a href="{% url 'user_rate' %}">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="user-fav">
                    <p>Your Favorite Movies</p>
                    <div class="row">
                        {% for movie in user.profile.favorite_movies.all %}
                            <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                                <div class="movie-item">
                                    <a href="{% url 'movie-detail' title=movie.title|slugify id=movie.id %}">
                                        <img src="{{ movie.image }}" alt="{{ movie.title }}" class="img-fluid">
                                    </a>
                                    <h5 class="movie-title">{{ movie.title }}</h5>
                                </div>
                            </div>
                        {% empty %}
                            <p>No favorite movies yet.</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="user-fav mt-5">
                    <p>Your Favorite Actors</p>
                    <div class="row">
                        {% for actor in user.profile.favorite_actors.all %}
                            <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                                <div class="actor-item">
                                    <a href="{% url 'actor-detail' actor_names=actor.actor_names|slugify id=actor.id %}">
                                        <img src="{{ actor.image_actors }}" alt="{{ actor.actor_names }}" class="img-fluid">
                                    </a>
                                    <h5 class="actor-name">{{ actor.actor_names }}</h5>
                                </div>
                            </div>
                        {% empty %}
                            <p>No favorite actors yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer section-->
{% endblock %}
</html>
